body { background: #4a772b; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-sms-0 { color: #87d310; font-size: 20px; margin-bottom: 5px; }
.block-cluster-1 { color: #b81447; font-size: 15px; margin-bottom: 5px; }
.block-cart-2 { color: #52420; font-size: 14px; margin-bottom: 5px; }
.block-payment-3 { color: #538465; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #7e59d9; font-size: 20px; margin-bottom: 5px; }
.block-filter-5 { color: #5e4aee; font-size: 13px; margin-bottom: 5px; }
.block-product-6 { color: #fa7bac; font-size: 19px; margin-bottom: 5px; }
.block-order-7 { color: #cdaa2d; font-size: 13px; margin-bottom: 5px; }
.block-user-8 { color: #9f28b4; font-size: 12px; margin-bottom: 5px; }
.block-order-9 { color: #201fc4; font-size: 19px; margin-bottom: 5px; }
.block-validator-10 { color: #213574; font-size: 12px; margin-bottom: 5px; }